.
  <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs>
      <style type="text/css"></style>
    </defs>

    <!-- symbol definition  NEVER draw -->
    <symbol id="art6" viewBox="0 0 111 22">
      <g
        transform="translate(0,-1030.3622)"
        id="layer1">
        <g
          transform="matrix(0.51407727,0,0,-0.53441642,-200.90878,1221.7127)"
          id="g2993">
          <path
          d="m 417.928,357.9106 18.879,0 -8.7021,-40.877 -8.193,0 7.0019,32.9108 -7.3128,-0.0278 -1.7581,0 c -4.1011,0 -6.4071,-0.1701 -6.9171,-0.5102 -2.5699,-0.6619 -4.932,-2.0699 -7.0869,-4.2239 -2.3621,-2.5889 -3.8171,-5.169 -4.365,-7.7389 -0.6619,-3.1751 -0.057,-6.0951 1.8138,-8.7591 1.3233,-1.5689 2.541,-2.514 3.657,-2.8349 1.0772,-0.6052 3.0711,-0.9071 5.9811,-0.9071 l 5.6979,0 -1.7007,-7.9089 -6.8321,0 c -5.0451,0 -9.042,1.332 -11.9911,3.9968 -2.0968,2.003 -3.401,3.8172 -3.9118,5.4431 -1.3981,3.363 -1.7292,6.8029 -0.9922,10.3181 l 0.2552,1.1909 c 1.059,4.913 3.8647,9.4201 8.42,13.5209 2.683,2.1731 4.7999,3.5442 6.3499,4.1111 1.133,0.5669 2.6541,1.105 4.5629,1.6161 1.7011,0.4529 4.0822,0.68 7.1442,0.68"
          id="path2995"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 438.7745,357.9041 12.0651,0 c 2.128,0 3.661,-0.6381 4.599,-1.9151 0.426,-0.504 0.695,-0.991 0.8081,-1.4599 0.2611,-0.9382 0.2999,-1.8541 0.1171,-2.749 l -0.1171,-0.5341 c -0.2951,-1.3731 -1.1769,-2.715 -2.645,-4.026 -0.9119,-0.7299 -1.707,-1.1991 -2.3839,-1.4071 1.2248,-1.6849 1.5417,-3.913 0.951,-6.6838 l -3.7911,0 0.0649,0.2868 c 0.434,2.0492 -0.0518,3.678 -1.4601,4.885 -0.7988,0.669 -1.963,1.004 -3.4908,1.004 l -7.401,0 0.769,3.6221 12.299,0 c 1.347,0 2.3981,0.6639 3.153,1.9931 0.1131,0.269 0.2001,0.4949 0.261,0.678 0.1559,0.7379 -0.013,1.4068 -0.5079,2.0058 -0.4431,0.417 -0.9601,0.6262 -1.5512,0.6262 0,0.034 -0.1819,0.0519 -0.547,0.0519 l -11.9739,0 0.7818,3.6221 z"
          id="path2997"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 459.0952,357.8975 18.8921,0 -0.7682,-3.6351 -7.5438,0 -3.2179,-15.1268 -3.8052,0 3.2181,15.1268 -7.5441,0 0.769,3.6351 z"
          id="path2999"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 452.181,322.5189 c 0.6261,0 1.1021,0.108 1.4269,0.3248 0.3252,0.2172 0.5361,0.542 0.6333,0.976 0.1199,0.4822 0.072,0.807 -0.1451,0.9751 -0.2172,0.169 -0.603,0.2529 -1.156,0.2529 l -10.226,0 c -1.133,0 -1.7841,-0.3969 -1.9519,-1.192 -0.1202,-0.506 -0.072,-0.8549 0.1448,-1.048 0.2172,-0.193 0.6741,-0.2888 1.3731,-0.2888 l 9.9009,0 z m 10.4431,-1.7711 c -0.2891,-1.2529 -0.9162,-2.1861 -1.8791,-2.8001 -0.9641,-0.6139 -2.1319,-0.9218 -3.505,-0.9218 l -22.5479,0 c -1.3261,0 -2.331,0.349 -3.0181,1.048 -0.686,0.699 -0.8731,1.6988 -0.5598,2.9999 l 2.9267,12.6471 c 0.1211,0.5779 0.3671,1.108 0.741,1.5899 0.3731,0.481 0.8252,0.8969 1.3553,1.2461 0.5298,0.349 1.1199,0.62 1.7699,0.813 0.6509,0.193 1.313,0.2888 1.988,0.2888 l 24.7889,0 c 0.457,0 0.8419,-0.1559 1.156,-0.4688 0.3129,-0.3141 0.4209,-0.6752 0.3251,-1.084 l -0.578,-2.4942 c -0.049,-0.193 -0.1451,-0.373 -0.2891,-0.542 -0.1448,-0.1678 -0.32,-0.3189 -0.5238,-0.451 -0.2053,-0.1329 -0.4221,-0.2409 -0.6511,-0.3259 -0.2291,-0.0839 -0.451,-0.1259 -0.6682,-0.1259 l -18.9708,0 c -0.6991,0 -1.1861,-0.072 -1.4641,-0.2171 -0.277,-0.144 -0.4748,-0.4941 -0.595,-1.048 -0.097,-0.3611 0.011,-0.6259 0.3251,-0.7951 0.313,-0.169 0.6259,-0.2648 0.9388,-0.2889 l 15.9721,0 c 1.035,0 1.861,-0.108 2.475,-0.3251 0.614,-0.2169 1.0661,-0.506 1.3549,-0.8668 0.2892,-0.362 0.4391,-0.7901 0.4522,-1.283 0.0119,-0.4941 -0.0431,-1.0301 -0.163,-1.6081 l -1.156,-4.987 z"
          id="path3001"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 489.0022,342.824 c -1.442,0 -3.3991,0.1939 -4.7979,1.764 -1.4191,1.5931 -1.5271,3.894 -1.5271,5.55 0,2.152 0.1931,4.3679 1.463,5.8521 1.5052,1.7649 3.8511,1.8938 4.926,1.8938 l 6.0449,0 0,-2.26 -4.7109,0 c -1.6778,0 -3.098,-0.1069 -3.958,-1.3978 -0.4518,-0.667 -0.8391,-1.8071 -0.8391,-4.0442 0,-2.2589 0.4082,-3.185 0.7101,-3.657 0.7742,-1.184 2.151,-1.4419 3.9371,-1.4419 l 5.0989,0 0,-2.259 -6.347,0 z"
          id="path3003"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 500.7444,346.2018 c 0.8822,-1.1409 2.13,-1.2909 3.829,-1.2909 1.2691,0 2.8832,0.0431 3.8512,1.2909 0.5598,0.7101 0.9468,1.9361 0.9468,4.1522 0,2.2589 -0.366,3.4418 -0.9468,4.1729 -0.968,1.2271 -2.6031,1.269 -3.8512,1.269 -1.3118,0 -2.84,-0.0419 -3.829,-1.269 -0.6029,-0.7521 -0.968,-1.8709 -0.968,-4.1729 0,-2.1521 0.3441,-3.3562 0.968,-4.1522 z m 9.853,10.2611 c 1.5281,-1.506 1.7002,-4.13 1.7002,-6.1089 0,-1.6141 -0.0652,-4.496 -1.7002,-6.1101 -1.613,-1.5919 -4.303,-1.5919 -6.0018,-1.5919 -1.7862,0 -4.3461,0 -6.0033,1.5919 -1.7418,1.6781 -1.7418,4.4099 -1.7418,6.1101 0,2.0438 0.108,4.5598 1.7418,6.1089 1.6793,1.592 4.1741,1.592 6.0033,1.592 1.7418,0 4.3667,0 6.0018,-1.592"
          id="path3005"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 514.2283,345.0827 6.927,0 c 0.2591,0 1.334,0.0212 1.7861,0.28 0.6891,0.387 0.7319,1.226 0.7319,1.8281 0,0.474 -0.0218,1.2481 -0.538,1.6999 -0.1299,0.108 -0.538,0.4091 -1.7209,0.4091 l -6.8851,0 0,2.2589 6.5191,0 c 0.968,0 1.6569,0.129 1.9789,0.4731 0.388,0.4091 0.3659,1.1191 0.3659,1.571 0,0.559 0.0221,1.269 -0.4949,1.6991 -0.366,0.301 -0.86,0.322 -1.3119,0.322 l -7.272,0 0,2.26 7.9169,0 c 0.989,0 2.2161,0.021 3.1632,-0.926 0.8388,-0.8601 0.9238,-2.022 0.9238,-3.14 0,-0.9691 -0.0629,-1.8941 -0.8589,-2.647 -0.345,-0.322 -0.7971,-0.559 -1.2699,-0.6661 l 0,-0.087 c 0.8178,-0.042 1.5919,-0.4301 1.9788,-1.118 0.2801,-0.4731 0.4312,-1.2271 0.4312,-2.4531 0,-1.0758 -0.087,-2.6249 -1.3561,-3.42 -0.8612,-0.5389 -2.194,-0.603 -3.227,-0.603 l -7.7881,0 0,2.259 z"
          id="path3007"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 531.4136,345.0827 9.1431,0 -4.2179,9.767 c -0.0632,0.1301 -0.1712,0.474 -0.3442,0.474 -0.1709,0 -0.322,-0.3439 -0.3651,-0.474 l -4.2159,-9.767 z m 2.1722,11.3802 c 0.3869,0.8609 0.8818,1.592 2.4088,1.592 1.334,0 1.937,-0.5151 2.4101,-1.592 l 5.055,-11.3802 1.271,0 0,-2.259 -17.492,0 0,2.259 1.2711,0 5.076,11.3802 z"
          id="path3009"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 549.9743,348.6543 5.788,0 -2.4519,6.1319 c -0.0871,0.2149 -0.2381,0.6231 -0.432,0.6231 -0.1931,0 -0.3442,-0.4082 -0.4289,-0.6231 l -2.4752,-6.1319 z m 0.4311,7.7018 c 0.538,1.269 1.1189,1.699 2.473,1.699 1.292,0 1.9369,-0.43 2.4749,-1.699 l 5.6789,-13.5318 -2.99,0 -1.5488,3.8078 -7.2499,0 -1.5282,-3.8078 -2.9899,0 5.68,13.5318 z"
          id="path3011"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 575.1845,342.824 -2.8389,0 0,6.626 -7.8322,0 0,-6.626 -2.8388,0 0,15.0599 2.8388,0 0,-6.175 7.8322,0 0,6.175 2.8389,0 0,-15.0599 z"
          id="path3013"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 589.2497,342.824 0.0862,11.4449 c 0,0.237 -0.021,0.4952 -0.214,0.4952 -0.1732,0 -0.345,-0.3452 -0.5602,-0.6891 l -6.1959,-10.0029 c -0.4099,-0.667 -0.8601,-1.4201 -2.3879,-1.4201 -2.1731,0 -2.2162,1.7209 -2.2162,2.582 l 0,12.6499 2.8401,0 -0.0649,-11.2308 c 0,-0.3442 -0.021,-0.688 0.2579,-0.688 0.1729,0 0.2801,0.258 0.4099,0.4728 l 6.065,9.94 c 0.8189,1.3331 1.4851,1.677 2.518,1.677 2.2589,0 2.3012,-1.9568 2.3012,-2.71 l 0,-12.5209 -2.8392,0 z"
          id="path3015"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 596.9463,342.824 c -0.646,0 -1.226,0 -1.7212,0.4731 -0.5159,0.495 -0.5578,1.1838 -0.5578,1.764 l 0,10.6708 c 0,0.6021 0.193,1.205 0.515,1.5701 0.495,0.538 1.226,0.5819 1.8068,0.5819 l 9.6602,0 0,-2.26 -8.1331,0 c -0.2569,0 -0.5579,-0.021 -0.7739,-0.2149 -0.2361,-0.2149 -0.2361,-0.5159 -0.2361,-0.731 l 0,-3.034 8.9271,0 0,-2.2589 -8.9271,0 0,-3.5271 c 0,-0.237 0.0861,-0.474 0.216,-0.582 0.1712,-0.1721 0.515,-0.193 0.9672,-0.193 l 8.0458,0 0,-2.259 -9.7889,0 z"
          id="path3017"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 483.5064,317.0611 c -1.442,0 -3.3991,0.1939 -4.798,1.764 -1.419,1.593 -1.527,3.8939 -1.527,5.5499 0,2.1521 0.1931,4.3679 1.463,5.8519 1.5049,1.7651 3.8508,1.8941 4.926,1.8941 l 6.0449,0 0,-2.2601 -4.7109,0 c -1.6781,0 -3.098,-0.1069 -3.958,-1.398 -0.4521,-0.667 -0.8391,-1.8068 -0.8391,-4.0439 0,-2.259 0.4079,-3.185 0.7101,-3.657 0.7739,-1.184 2.1509,-1.442 3.9371,-1.442 l 5.0989,0 0,-2.2589 -6.347,0 z"
          id="path3019"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 495.0978,322.8914 5.7869,0 -2.4528,6.1319 c -0.085,0.2151 -0.2361,0.623 -0.43,0.623 -0.1939,0 -0.3441,-0.4079 -0.43,-0.623 l -2.4741,-6.1319 z m 0.43,7.702 c 0.538,1.2688 1.1191,1.6988 2.4741,1.6988 1.2909,0 1.9361,-0.43 2.4741,-1.6988 l 5.6797,-13.532 -2.9899,0 -1.5489,3.808 -7.251,0 -1.527,-3.808 -2.9912,0 5.6801,13.532 z"
          id="path3021"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 511.7233,335.5407 c 0.108,-0.366 0.3438,-0.7098 0.6029,-0.9459 0.472,-0.4091 1.0752,-0.4519 1.5701,-0.4519 0.5159,0 1.118,0.0428 1.592,0.4519 0.259,0.2361 0.4949,0.5799 0.6029,0.9459 l 2.0432,0 c -0.2152,-0.7529 -0.7311,-1.7209 -1.4633,-2.2589 -0.7528,-0.559 -1.8498,-0.7311 -2.7748,-0.7311 -1.1191,0 -2.109,0.258 -2.7541,0.7311 -0.7319,0.538 -1.247,1.506 -1.463,2.2589 l 2.0441,0 z m 6.561,-18.4799 0.0871,11.4449 c 0,0.2372 -0.021,0.4952 -0.2152,0.4952 -0.1729,0 -0.3438,-0.3441 -0.5598,-0.6891 l -6.1963,-10.0029 c -0.4079,-0.667 -0.8597,-1.4202 -2.3879,-1.4202 -2.1719,0 -2.215,1.7212 -2.215,2.5821 l 0,12.6499 2.8389,0 -0.0638,-11.2309 c 0,-0.3441 -0.0209,-0.6879 0.258,-0.6879 0.1721,0 0.2801,0.2588 0.409,0.4739 l 6.067,9.9391 c 0.817,1.3329 1.484,1.677 2.5161,1.677 2.2589,0 2.302,-1.957 2.302,-2.7102 l 0,-12.5209 -2.8401,0 z"
          id="path3023"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 528.0687,317.0611 0,12.7998 -5.874,0 0,2.2601 14.6081,0 0,-2.2601 -5.8949,0 0,-12.7998 -2.8392,0 z"
          id="path3025"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
          <path
          d="m 539.4677,322.8914 5.7877,0 -2.4519,6.1319 c -0.0871,0.2151 -0.2379,0.623 -0.432,0.623 -0.1931,0 -0.3439,-0.4079 -0.4289,-0.623 l -2.4749,-6.1319 z m 0.4308,7.702 c 0.538,1.2688 1.1191,1.6988 2.473,1.6988 1.292,0 1.9372,-0.43 2.4752,-1.6988 l 5.6798,-13.532 -2.9909,0 -1.5491,3.808 -7.2499,0 -1.5282,-3.808 -2.9899,0 5.68,13.532 z"
          id="path3027"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" / >
        </g>
      </g>
    </symbol>
  </svg>